<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <form action="./results" method="post">
        <label>Color</label>
        <select>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
        </select>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>